<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2-debug</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- ヘッダー部分 -->
    <%= render 'layouts/header' %>

    <!-- メイン部分 -->
    <div class="container body">
      <p id="notice"><%= notice %></p>
      <%= yield %>
    </div>

    <!-- フッター部分 -->
    <%= render 'layouts/footer' %>
  </body>
</html>
